node_modules
cypress.env.json
cypress/screenshots
cypress/videos
.idea
.vscode
cypress/fixtures/example.json

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
